$font-stack: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
$primary-blue: #1D9BF0;
$light-blue: #ebf5fe;
$shadow-color: rgb(247, 247, 247);
$primary-font-color : #0F1419;
$secondary-font-color: #536471;
$border-light-grey: #EFF3F4;
$light-green: #E3F1EA;
$strong-green: #00BA7C;
$light-pink: #F8E3EB;
$strong-pink: #F9197F;
$main-column-width: 730px;

@mixin roundImage($size: 48px) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

body {
    font-family: $font-stack;
    color: $primary-font-color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 10px 30px;
}

.leftColumn {
    width: 275px;
}

.mainColumn {
    width: $main-column-width;
    border-left: $border-light-grey 1px solid;
    border-right: $border-light-grey 1px solid;
}

.rightColumn {
    width: 348px;
}

.chooseTimeline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-bottom: 1px $border-light-grey solid;
}

.writeTweetBox {
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 50px 1fr;
    padding: 4px;
    img {
        @include roundImage;
        grid-row: 1/3;
        grid-column: 1/2;
    }
    textarea {
        grid-row: 1/2;
        grid-column: 2/3;
        border: none;
        &:focus {
            border: none
        }
    }
    .tweetOptions {
        grid-row: 2/3;
        grid-column: 2/3;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        .tweetOptionsIcon {
            @include roundImage($size: 34px);
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: $light-blue;
            }
            img {
                width: 20px;
                height: 20px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 0;
            }
        }
        .tweetBtn {
            background-color: $primary-blue;
            justify-self: right;
            width: 76px;
            height: 34px;
            border-radius: 9999px;
            border: none;
            color: white;
        }
    }
}

.tweet {
    border-top: $border-light-grey 1px solid;
    height: 150px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 20px 1fr 32px;
    padding: 10px;
    gap: 10px;

    &:hover {
        background-color: rgb(247, 247, 247);
    }

    img {
        @include roundImage;
        grid-column: 1/2;
    }

    .tweetAuthor {
        grid-row: 1/2;
        grid-column: 2/3;
        display: flex;
        flex-flow: row nowrap;
        align-items:first baseline;
        justify-content: left;
        margin-block-start: 0;
        .authorName {
            font-size: 1.1rem;
            font-weight: 800;
            margin-block-start: 0;
        }
        
        .authorUsername, .tweetTime {
            color: $secondary-font-color;
            margin-block-start: 0;
            margin-left: 8px;
        }
    }

    .tweetContent {
        grid-row: 2/3;
        grid-column: 2/3;
        p {
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }

    .tweetDetails {
        grid-row: 3/4;
        grid-column: 2/3;
        display: flex;
        flex-flow: row nowrap;
        justify-content: left;

        img {
            @include roundImage($size: 19px);
            margin-right: 10px;
        }
        span {
            margin-right: 30px;
            margin-top: 9.5px;
        }
    }
}

.profile-img {
    width: 48px;
    height: 48px;
    border-radius: 25%;
}

// TO-DO : in React, on hover, change colors of all detail elements
@mixin detailsSVG($color) {
    width: 19px;
    height: 19px;
    top: 50%;
    margin-top: 9.5px;
}

#commentSVG {
    @include detailsSVG($color: $primary-blue)
}

#retweetSVG {
    @include detailsSVG($color: $strong-green)
}

#heartSVG {
    @include detailsSVG($color: $strong-pink)
}

#statsSVG {
    @include detailsSVG($color: $primary-blue)
}

@mixin detailBackground($color) {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    &:hover {
        background-color: $color;
    }
}

#commentIcon {
    @include detailBackground($color: $light-blue)
}

#retweetIcon {
    @include detailBackground($color: $light-green)
}

#heartIcon {
    @include detailBackground($color: $light-pink)
}

#statsIcon {
    @include detailBackground($color: $light-blue)
}

.sideNavbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items:baseline;
    flex-flow: column nowrap;
    div {
        border-radius: 35%;
        height: 50px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-items: flex-start;
        margin-top: 9px;
        padding: 13px;
        padding-right: 40px;

        &:hover {
            background-color: $shadow-color;
        }
        img {
            width : 37px;
            height: 37px;
            margin-right: 32px;
        }
        p {
            font-size: 1.5rem;
        }
    }
}

.header-header {
    height: 80px;
    display: grid;
    align-items: center;
    grid-template-rows: 50px 30px;
    grid-template-columns: 50px 1fr;
    #header-backarrow {
        grid-area : 1 / 1 / 3 / 2;
        font-size: 2.1rem;
        border-radius: 50%;
        justify-self: center;
        &:hover {
            background-color: $shadow-color;
        }
    }
    #header-userName {
        font-size: 2rem;
    }
    #header-tweetCount {
        font-size: 1rem;
    }

}

.header-section {
    height: 470px; 
    background-color: palevioletred;
    position: relative;
    #header-coverPicture {
        width: auto;
        max-width: 100%;
        height: 400px;
        object-fit: cover;
    }
    #header-profilePicture {
        position: absolute;
        top: 320px;
        left: 20px;
        height: 260px;
        width: 260px;
        border-radius: 50%;
        border: solid 5px white;
    }
}

