$font-stack: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
$primary-blue: #1D9BF0;
$shadow-color : rgb(247, 247, 247);
$primary-font-color : #0F1419;
$secondary-font-color: #536471;
$border-light-grey: #EFF3F4;


body {
    font-family: $font-stack;
    color: $primary-font-color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 10px 30px;
}

.leftColumn {
    width: 275px;
}

.mainColumn {
    width: 598px;
    border-left: $secondary-font-color 1px solid;
    border-right: $secondary-font-color 1px solid;
}

.rightColumn {
    width: 348px;
}

.tweet {
    border: $primary-blue 2px solid;
    height: 150px;

    &:hover {
        background-color: rgb(247, 247, 247);
    }

    img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}

.profile-img {
    width: 48px;
    height: 48px;
    border-radius: 25%;
}


